body {
    background-image: url(./field.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center, center;
    position: relative;
}

img {
    width: 70px;
}

.player {
    position: absolute;
    width: 70px;
    height: 70px;
}

input {
    position: absolute;
    top: 450px;
    left: 600px;
}

.stopplay {
    width: 70px;
    height: 70px;
    position: absolute;
}

html {
    height: 100%;
}